<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{i18n .Lang "title"}}</title>
    <meta name="google-site-verification" content="iJNs5k1zHZj-GwgRTdDtvuN40ukqJM5H4PtmE_uPywM" />
    <meta name="description" content="{{i18n .Lang "description"}}">
    <meta name="keywords" content="{{i18n .Lang "keywords"}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://png.icons8.com/color/48/f39c12/truck.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
<header class="default-header">
    <div class="container">
        <div class="header-wrap">
            <div class="header-top d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="#home"><img src="https://png.icons8.com/color/48/f39c12/truck.png" alt="{{i18n .Lang "title"}}"></a>
                </div>
                <div class="main-menubar d-flex align-items-center">
                    <nav class="hide">
                        <a class="animated" href="#home">{{i18n .Lang "navigation.home"}}</a>
                        <a class="animated" href="#about-us">{{i18n .Lang "navigation.about-us"}}</a>
                        <a class="animated" href="#transport">{{i18n .Lang "navigation.transport"}}</a>
                        <a class="animated" href="#order">{{i18n .Lang "navigation.order"}}</a>
                    </nav>
                    <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">
            <div class="banner-content col-lg-6 col-md-12">
                <h1 class="text-uppercase">
                    {{i18n .Lang "home.greeting.header1"}} <br>
                    {{i18n .Lang "home.greeting.header2"}}
                </h1>
                <p>{{i18n .Lang "home.greeting.p1"}}</p>
                <a class="primary-btn mt-20 text-uppercase animated" href="#order">{{i18n .Lang "action.order"}}<span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="about-us-area section-gap border border-secondary" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-clock"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.schedule"}}</h4>
                        <p>{{i18n .Lang "about-us.schedule.description"}}</p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-thumbs-up"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.quality"}}</h4>
                        <p>{{i18n .Lang "about-us.quality.description"}}</p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-chart-bars"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.discount"}}</h4>
                        <p>{{i18n .Lang "about-us.discount.description"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-rocket"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.emergency"}}</h4>
                        <p>{{i18n .Lang "about-us.emergency.description"}}</p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-earth"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.earth"}}</h4>
                        <p>{{i18n .Lang "about-us.earth.description"}}</p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-store"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">{{i18n .Lang "about-us.store"}}</h4>
                        <p>{{i18n .Lang "about-us.store.description"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="transport-area section-gap" id="transport">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pb-30 header-text">
                <h1>{{i18n .Lang "transport.header"}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="single-transport col-md-4">
                <img class="f-img img-fluid mx-auto" src="/static/img/car-1.png" alt="{{i18n .Lang "transport.car-1.header"}}">
                <h4>
                    <a href="#">{{i18n .Lang "transport.car-1.header"}}</a>
                </h4>
                <p>{{i18n .Lang "transport.car-1.description"}}</p>
            </div>
            <div class="single-transport col-md-4">
                <img class="f-img img-fluid mx-auto" src="/static/img/car-2.png" alt="{{i18n .Lang "transport.car-2.header"}}">
                <h4>
                    <a href="#">{{i18n .Lang "transport.car-2.header"}}</a>
                </h4>
                <p>{{i18n .Lang "transport.car-2.description"}}</p>
            </div>
            <div class="single-transport col-md-4">
                <img class="f-img img-fluid mx-auto" src="/static/img/car-5.png" alt="{{i18n .Lang "transport.car-5.header"}}">
                <h4>
                    <a href="#">{{i18n .Lang "transport.car-5.header"}}</a>
                </h4>
                <p>{{i18n .Lang "transport.car-5.description"}}</p>
            </div>
            <div class="single-transport col-md-4">
                <img class="f-img img-fluid mx-auto" src="/static/img/car-3.png" alt="{{i18n .Lang "transport.car-3.description"}}">
                <h4>
                    <a href="#">{{i18n .Lang "transport.car-3.header"}}</a>
                </h4>
                <p>{{i18n .Lang "transport.car-3.description"}}</p>
            </div>
            <div class="single-transport col-md-4">
                <img class="f-img img-fluid mx-auto" src="/static/img/car-4.png" alt="{{i18n .Lang "transport.car-4.header"}}">
                <h4>
                    <a href="#">{{i18n .Lang "transport.car-4.header"}}</a>
                </h4>
                <p>{{i18n .Lang "transport.car-4.description"}}</p>
            </div>
        </div>
    </div>
</section>

<section class="order-area" id="order">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end align-items-center">
            <div class="col-lg-6 order-left no-padding d-none d-lg-block">
                <img class="img-fluid" src="/static/img/gazel.jpg" alt="{{i18n .Lang "order.form.header1"}} {{i18n .Lang "order.form.header2"}}">
            </div>
            <div class="col-lg-6 col-12 order-right no-padding">
                <h1>{{i18n .Lang "order.form.header1"}}<br> {{i18n .Lang "order.form.header2"}}</h1>
                <form class="booking-form" id="myForm" action="/action/order">
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column">
                            <input name="name" placeholder="{{i18n .Lang "order.form.name"}}" class="form-control mt-20" required="required" type="text">
                        </div>
                        <div class="col-lg-6 d-flex flex-column">
                            <input name="phone" placeholder="{{i18n .Lang "order.form.phone"}}" class="form-control mt-20" required="required" type="text">
                        </div>
                        <div class="col-lg-12 flex-column">
                            <textarea class="form-control mt-20" name="message" placeholder="{{i18n .Lang "order.form.message"}}" required=""></textarea>
                        </div>

                        <div class="col-lg-12 d-flex justify-content-end send-btn">
                            <button class="submit-btn primary-btn mt-20 text-uppercase">{{i18n .Lang "action.send"}}<span class="lnr lnr-arrow-right"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="people-area section-gap" id="people">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h1>{{i18n .Lang "people.header"}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 vol-wrap">
                <div class="single-con">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <img class="content-image img-fluid d-block mx-auto" src="/static/img/c1.jpg" alt="{{i18n .Lang "people.p1.name"}}">
                        <div class="content-details fadeIn-bottom">
                            <h4>{{i18n .Lang "people.p1.name"}}</h4>
                            <p>{{i18n .Lang "people.p1.description"}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 vol-wrap">
                <div class="single-con">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <img class="content-image img-fluid d-block mx-auto" src="/static/img/c2.jpg" alt="{{i18n .Lang "people.p2.name"}}">
                        <div class="content-details fadeIn-bottom">
                            <h4>{{i18n .Lang "people.p2.name"}}</h4>
                            <p>{{i18n .Lang "people.p2.description"}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 vol-wrap">
                <div class="single-con">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <img class="content-image img-fluid d-block mx-auto" src="/static/img/c3.jpg" alt="{{i18n .Lang "people.p3.name"}}">
                        <div class="content-details fadeIn-bottom">
                            <h4>{{i18n .Lang "people.p3.name"}}</h4>
                            <p>{{i18n .Lang "people.p3.description"}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-1">
                <div class="single-footer-widget">
                    <h6 class="mb-20">{{i18n .Lang "footer.mobiles"}}</h6>
                    <h3><a href="tel:+7-963-123-4934"><span class="lnr lnr-phone-handset"></span> +7 (963) 123-49-34</a></h3>
                    <h3><a href="tel:+7-960-078-4674"><span class="lnr lnr-phone-handset"></span> +7 (960) 078-46-74</a></h3>
                    <h3><a href="tel:+7-963-123-4936"><span class="lnr lnr-phone-handset"></span> +7 (963) 123-49-36</a></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-footer-widget">
                    <h6 class="mb-20">{{i18n .Lang "footer.emails"}}</h6>
                    <h3><a href="mailto:gadelshin-rustam@mail.ru"><span class="lnr lnr-envelope"></span>  gadelshin-rustam@mail.ru</a></h3>
                    <br/>
                    <h3><a href="mailto:gadelshinaelena1985@gmail.com"><span class="lnr lnr-envelope"></span> gadelshinaelena1985@gmail.com</a></h3>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>

<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jquery.sticky.js"></script>
<script src="/static/js/parallax.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script >
    $(document).ready(function(){
        "use strict";

        var window_width 	 = $(window).width(),
            window_height 		 = window.innerHeight,
            header_height 		 = $(".default-header").height(),
            header_height_static = $(".site-header.static").outerHeight(),
            fitscreen 			 = window_height - header_height;


        $(".fullscreen").css("height", window_height);
        $(".fitscreen").css("height", fitscreen);

        //-------- Active Sticky Js ----------//
        $(".default-header").sticky({topSpacing:0});


        // -------   Active Mobile Menu-----//
        $(".menu-bar").on('click', function(e){
            e.preventDefault();
            $("nav").toggleClass('hide');
            $("span", this).toggleClass("lnr-menu lnr-cross");
            $(".main-menu").addClass('mobile-menu');
        });


        $('.nav-item a:first').tab('show');

        $('a[class*="animated"] ').click(function(event) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                event.preventDefault();
                $('html, body').animate({scrollTop: target.offset().top}, 1000);
            }

        });
    });

    $(document).ready(function() {
        var form = $('#myForm'); // contact form
        var submit = $('.submit-btn'); // submit button

        // form submit event
        form.on('submit', function(e) {
            e.preventDefault(); // prevent default form submit

            $.ajax({
                url: 'mail.php', // form action url
                type: 'POST', // form submit method get/post
                dataType: 'html', // request type html/json/xml
                data: form.serialize(), // serialize form data
                beforeSend: function() {
                    alert.fadeOut();
                    submit.html('Sending....'); // change submit button text
                },
                success: function(data) {
                    alert.html(data).fadeIn(); // fade in response data
                    form.trigger('reset'); // reset form
                    submit.attr("style", "display: none !important");
                },
                error: function(e) {
                    console.log(e)
                }
            });
        });
    });
</script>
</body>
</html>
